body{
    background-color: rgb(217, 255, 253);
    
}
div.sign{
    position: absolute;
    left: 37.5%;
    
}
.log{
    position: absolute;
    left: 57.5%;
    
}


a :hover{
    background-color: rgb(216, 211, 211);
    font-size: large;
}

#logearse{
    display: none;
}
#registrarse{
    display: none;
}
#final{
    display: none;
}
#p{
    background-color: red;
}
.fondito{
    background-color: rgb(233, 225, 225);
    width: 20vw;
    border: 1px solid black;
    
}